<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Community Playlists</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

      <div class="content-community">

        <h1>Community Playlists</h1>

        <% playlists.forEach((list) => { %>
          <div>
              <a href="/community/<%= list._id %>" class="playlist">
                  <%= list.name %>
              </a> by <%= list.owner.username %>
          </div>        
        <% }) %>

      </div>

    <%- include('../partials/_footer.ejs') %>
  </body>
</html>