<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= playlist.name %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit <%= playlist.name %></h1>
    <a href="/users/<%= user._id %>/playlists/<%= playlist._id %>">Back to Playlist</a>
    <form action="/users/<%= user._id %>/playlists/<%= playlist._id %>?_method=PUT" method="POST">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" value="<%= playlist.name %>">
        <button type="submit">Change Playlist Name</button>
    </form>
    <% playlist.songList.forEach((song) => { %>
        <div><%= song.title %></div>
        <a href="/users/<%= user._id %>/playlists/<%= playlist._id %>/song/<%= song._id %>/edit">Edit Song</a>
        <form action="/users/<%= user._id %>/playlists/<%= playlist._id %>/song/<%= song._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete Song</button>
        </form>
    <% }) %>
    <div><a href="/users/<%= user._id %>/playlists/<%= playlist._id %>/song/new">Add a Song</a></div>
</body>
</html>