<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>My Playlists</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <div class="content">
      <h1>Welcome to your playlists</h1>
      
      <h3>Your Playlists:</h3>

      <% if (playlists.length > 0) { %>
          <% playlists.forEach((list) => { %>

            <div class="playlist-line">
              <a href="/users/<%= user._id %>/playlists/<%= list._id %>" class="playlist">
                <%= list.name %>
              </a>

              <section class="options">
                <a href="/users/<%= user._id %>/playlists/<%= list._id %>/edit" class="edit-btn">Edit Playlist</a>

                <form action="/users/<%= user._id %>/playlists/<%= list._id %>?_method=DELETE" method="POST">
                  <button type="submit" class="delete-btn">Delete Playlist</button>
                </form>
              </section>

            </div>  

          <% }) %>
      <% } else { %>

        <p>There are no playlists.</p>

      <% } %>

      <div>
        <a href="/users/<%= user._id %>/playlists/new" class="new-btn">Add New Playlist</a>
      </div>
      
    </div>

    <%- include('../partials/_footer.ejs') %>
  </body>
</html>